.home {
    padding: 50px;
    margin: 0px 0px 70px;
}

.home__content {
    padding-top: 80px;
}

.home__greeting {
    background-image: linear-gradient(to bottom, #6597AA, #2D4D5F);
    color: white;
    padding: 12px 35px;       
    border-radius: 40px 20px 20px 0px; 
    font-family: Arial, sans-serif; 
    font-size: 32px;         
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

.home__name {
    font-size: 70px;
    font-weight: 700;
    color:$primary-color;
    padding: 20px 0px 0px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 2s steps(30, end) forwards, blink-caret .75s step-end infinite;
}

.home__surname {
    display: inline-block;
    white-space: nowrap;
    width: 0;
    color: $secundary-color;
    animation: typing-surname 2s steps(30, end) forwards 2s, blink-caret .75s step-end infinite 2s;
}

.home__specialty {
    color: $primary-color;
    font-weight: 700;
    padding-bottom:30px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 2s steps(30, end) forwards 4s, blink-caret .75s step-end infinite 4s;
}

.home__btn{
    background-color: $secundary-color;
    border-color: $secundary-color;
    padding: 15px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.home__btn:hover, .home__btn:focus {
    background-color: $secundary-color;
    border-color: $secundary-color;
}

.home__image {
    padding-top: 9%;
}

.home__image img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes typing-surname {
    from { width: 0 }
    to { width: 100% }
}