$primary-color:#446C7C;
$primary-colors:#2D4D5F;
$secundary-color:#F8414D;
$tertiary-color:#F5D326;
$primary-text-color:#F7F7F7;
$font-stackl: 'IBM Plex Sans' , sans-serif; 
$font-heading: 'Rubik', sans-serif;
$font-body: 'Roboto', sans-serif;